<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DateOnTheMoon.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>09081A761AB45D4700A18B2B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09F9E6AB1A5AC71700C9D888</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>09F9E6C01A5AC71700C9D888</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
